*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am
/nvboard
!digital-circuit-experiments/*
/yosys-sta
/am-kernels
/abstract-machine
/rt-thread-am
/ysyxSoC
