*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.v
!*.cc
!*.cpp
!.gitignore
!README.md
!Kconfig
!scripts/config
!scripts/format_image.sh
!scripts/merge_verilog.py

build/
include/config
include/generated

model_checker/

!.config
