mainmenu "NPC Configuration"

choice 
    prompt "Select ISA"
    default ISA_riscv32
config ISA_riscv32
    bool "select riscv32"
config ISA_riscv64
    bool "selsec riscv64"
endchoice

config ISA
  string
  default "x86" if ISA_x86
  default "mips32" if ISA_mips32
  default "riscv32" if ISA_riscv32
  default "riscv64" if ISA_riscv64
  default "loongarch32r" if ISA_loongarch32r
  default "none"

menu "Build options"
    config DEBUG
        bool "is enable -g parameter when compiling"
        default n
endmenu

menu "Memory setting"
    config MBASE
        hex "Memory base address"
        default "0x0"
    config MSIZE
        hex "Memory size"
        default "0x0"
endmenu

menu "Test and debug"
    config ITRACE
        bool "enable inst trace"
        default n
    config MTRACE
        bool "enable memory trace"
        default n
    config FTRACE
        bool "enable function trace"
        default n
endmenu
